.container-collaborators{
    background: #e3e3e3;
    padding-top: 50px;
}

.card-group{
    display: flex;
    text-align: center;
    justify-content: center;
}

.title-collaborators{
    padding-top: 40px;
}

   @media (max-width: 767px) {
    .card-group {
         display: flex;
         flex-direction: column;
        
      }
     
  }