.dropdown-content{
  margin-top:51px;
  width: 180px;
  position:absolute;
  background: #0b918a;
  right: 15%;
  border-color: rgb(218, 196, 196);
  box-shadow: 3px, 3px, 10px, 6px rgba(0,0,0,0.06); 
  border: 2px solid rgb(141, 137, 137);
  text-decoration: none;
  z-index: 999;
}

 .dropdown-item{
  display:block;
  width: 100%;
  height: 100%;
  color: rgb(58, 57, 124);
  margin-left: -15px;
  text-decoration: none;
} 

.link{
  color:aliceblue;
  text-decoration: none;
}
 .dropdown-item :hover{
  background: #0e110a;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  width: 100%;
} 

@media screen and (max-width: 780px){
    .dropdown-content{
       margin-top:40px;
       width: 100%;
       margin-right: 0px;
       left: 0px;
    }
}
