.donation-container{
    height: auto;
    background: #e3e3e3;
}

.button-whatsapp{
    background-color: #27C08A;
    width: 280px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.icon-whatsapp{
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.text-whatsapp{
    font-size: 40px;
    margin-top: 10px;
}

.container-button-whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
} 

.title-donation{
    font-size: 50px;
    padding-top: 40px;
}

.link-contact{
    text-decoration: none;
    
}

.container-trees{
    height: 160px;
    margin-top: 80px;
    background-color: #7ed383;
}

.container-info-trees{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-trees{
    padding-top: 20px;
    padding-bottom: 15px;
}

.info-trees{
    margin-right: 20px;
}

.button-trees{
    margin-left: 20px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #eb4242;
}

@media (max-width: 768px){
    .title-donation{
        margin-left: 20px;
        margin-right: 20px;
    }

    .container-trees{
       height: 280px;
    }

    .container-info-trees{
        flex-direction: column;
    }

    .text-trees{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .button-trees{
       margin-top: 20px;
    }
    
}