.conteiner-ocean {
  display: flex;
  height: 70vh;
  background-color: rgb(208, 241, 241);
  flex-direction: row;
}

.image-ocean {
  width: 50%;
}

.image-ocean img {
   max-width: 90%;
   max-height: 90%;
   border-radius: 20px;
   margin-top: 20px;
}

.content-container{
  width: 50%;
}

.text-ocean{
  font-size: 25px;
}

.title-ocean{
  margin-top: 50px;
}

@media(max-width: 767px){
  .conteiner-ocean {
    height: auto;
    flex-direction: column;
  }
  .image-ocean{
    width: 100%;
  }

 .content-container{
    width: 100%;  
  }

  .container-text{
    margin-left: 1px;
  }
}

 @media(max-width: 1120px){
  .image-ocean img {
    margin-top: 60px;
  }

  .title-ocean{
    margin-top: 40px;
   }
   
}
/*
@media(max-width: 1010px){
  .title-ocean{
    margin-top: 0px;
   }

   .conteiner-ocean {
    height: auto;
   }
  } */

