.conteiner-ocean {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  background-color: rgb(208, 241, 241);
  position: relative;
}

.image-ocean {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-ocean img {
  max-width: 100%;
  max-height: 100%;
}

.content-container{
  flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}

@media(max-width: 768px){
  .conteiner-ocean {
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      display: flex;
  }
  .image-ocean{
    flex-basis: 100%;
    width: 100%;
    height: auto; 
    position: absolute;
  }


  .content-container{
      flex-basis: 100%;
      margin-top: 230px; 
  }

  .container-text{
    margin-left: 1px;
  }
}

