.conteiner-vegetal {
  display: flex;
  height: 70vh;
  background-color:#113d0d;
  flex-direction: row;
 }

.image-vegetal {
  width: 50%; 
}

.image-vegetal img {
   max-width: 90%;
   max-height: 90%;
   border-radius: 20px;
   margin-top: 20px;
}

.content-vegetal{
  width: 50%;
}

.title-vegetal{
  margin-bottom: 0px;
  margin-top: 50px;
 }

.text-vegetal{
  font-size: 21px;
  color: aliceblue;
  margin: 10px;
}

@media(max-width: 767px){
  .conteiner-vegetal {
    height: auto;
    flex-direction: column;
  }

  .image-vegetal{
    width: 100%;
  }

   .content-vegetal{
    width: 100%;
   }

}

@media(max-width: 1120px){
  .image-vegetal img {
    margin-top: 60px;
  }

  .title-vegetal{
    margin-top: 0px;
   }
}

/* @media(max-width: 1010px){
  .title-vegetal{
    margin-top: 0px;
   }

   .conteiner-vegetal {
     height: auto;
    }
  
} */

