.conteiner-human {
  display: flex;
  flex-direction: row;
  height: 70vh;
  background-color: #113d0d;
 }

 .image-human {
  width: 50%;
 
 }

 .image-human img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
  margin-top: 20px;
   
} 

.content-human{
  width: 50%;
 }
 
 .title-human{
  margin-top: 50px;
 }

 .text-content{
  color: aliceblue;
  margin: 10px;
 }

@media(max-width: 767px){
  .conteiner-human {
      height: auto;
      flex-direction: column;
  }
  .image-human{
     width: 100%;
  }

  .content-human{
      width: 100%;
  }

}

 @media(max-width: 1120px){
  .image-human img {
    margin-top: 60px;
  }

  .title-human{
    margin-top: 40px;
   } 
}

/* @media(max-width: 900px){
  .conteiner-human {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    display: flex;
    height: auto;
} 


}*/
