.paypal-container{
    height: 40vh;
    
}

.container-buttom{
    margin-left: 25%;
   
}

.title-paypal{
    margin-top: 40px;
    margin-bottom: 50px;
}


@media(max-width: 768px){
    .container-buttom{
       align-items: center;
       justify-content: center;
       margin-right: 15%;
       margin-bottom: 50px;
    }

    .paypal-container{
        height: 20vh;
        text-align:center;
        justify-content: center;
    }
  }

  @media(max-width: 1120px){
    .container-buttom{
        margin-left: 15%;
       
    }
  }
  
  