.container-activitie{
    height: 80vh;
    display: flex;
    flex-direction: column;
}


.title{
    color: white;
    padding-top: 50px; 
}

.list-activitie{
    color: white;
    font-size: 30px;
}

.group-list{
     margin-top: 60px;
     font-size: 30px; 
    list-style-position: inside; 
}

 .button-activitie{
    margin-top: 40px;
}


@media(max-width: 768px){
    .list-activitie{
       margin-right: 8px;
    }

    .container-activitie{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
 }




