.title{
    color: white;
    padding-top: 90px; 
}

.list{
    color: white;
}

.group-list{
     margin-top: 60px;
     font-size: 30px; 
    list-style-position: inside; 
}

 .button-activitie{
    margin-top: 60px;
}


@media(max-width: 768px){
    .list{
       margin-right: 8px;
    }
 }




