.conteiner-animal {
    display: flex;
    height: 70vh;
    background-color: #113d0d;
    flex-direction: row;
  }
  
  .image-animal {
    width: 50%;
  }

  .image-animal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    margin-top: 20px;  
  }

  .content-container{
    width: 50%;
  }

  .title-container{
    margin-top: 50px;
  }

  .container-text{
    color: aliceblue;
    margin: 10px;
  }

  @media(max-width: 767px){
    .conteiner-animal {
      height: auto;
      flex-direction: column;
    }
    .image-animal{
      width: 100%;
    }

    .content-container{
      width: 100%;
    }

    /* .container-text{
      margin-left: 1px;
    }

    .title-container{
      margin-top: 80px;
    } */
  }

   @media(max-width: 1120px){
    .image-animal img {
      margin-top: 60px;
    }

    .title-container{
      margin-top: 40px;
     }
  }
  /*
  @media(max-width: 1010px){
    .title-container{
      margin-top: 0px;
     }
  } */

  