
.container-navbar{
    height: 120px;
    background: #69ad46;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
 }

 .log{
    width: 100px;
    height: 100px;
 }

 .menu-items{
    display: flex;
    list-style: none;
 }

 .list-nav{
    margin-right: 30px;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
 }

 .menu-icon{
    display: none;
  }
 
.list-nav .active{
  display: block;
}


  
  @media (max-width: 768px){
    .container-navbar {
      position: relative;
      background-color: #113d0d;
    }
     
     .menu-items {
       display: none;
       position: absolute;
       background-color: #113d0d;
       margin-top: 330px;
       width: 100%;
       z-index: 999;
       padding: 10px;
       height: 200px;
    } 
     
      .menu-icon{
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        font-size: 40px;
        color: aliceblue;
    } 
  
     .menu-items.open{
      display: block;
    } 

    .list-nav{
        margin-top: 20px;
    }

    
  }