.container{
    margin-bottom: 20px;
}

.slick-arrow::before {
    height: 60px;
    background: black;
 }

  .tile-knowmore{
     margin-top: 50px;
     margin-bottom: 40px;
 } 

 
@media(max-width: 768px){
    .tile-knowmore{
        margin-bottom: 40px;
    }

}