.slick-arrow::before {
    height: 60px;
    background: black;
 }

 .tile-knowmore{
     margin-top: 50px;
     margin-bottom: 40px;
 }

 .slick-slider .slick-initialized{
    display: flex;
    text-align: center;
    text-align: center;
 }


@media(max-width: 768px){
    .tile-knowmore{
        margin-bottom: 40px;
    }

}