.slick-arrow::before{
    background: red;
 }

 .tile-knowmore{
     margin-top: 50px;
     margin-bottom: 40px;
 }

 .cardinfo{
    margin-left: 70px;
}

 @media(max-width: 768px){
    .tile-knowmore{
        margin-bottom: 40px;
    }

    .cardinfo{
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }
   
  }