.conteiner-minerals {
  display: flex;
  height: 70vh;
  background-color:#113d0d;
  flex-direction: row;
 }

.image-minerals {
  width: 50%;
}

.image-minerals img {
   max-width: 90%;
   max-height: 90%;
   border-radius: 20px;
   margin-top: 20px; 
}

.content-minerals{
  width: 50%;
}

.text-mineral{
  font-size: 25px;
  color: aliceblue;
  margin: 10px;
}

.title-mineral{
  margin-top: 50px;
}

@media(max-width: 767px){
  .conteiner-minerals {
    height: auto;
    flex-direction: column;
  }

  .image-minerals{
    width: 100%;
  }

 .content-minerals{
    width: 100%;
  }

  
}

@media(max-width: 1120px){
  .image-minerals img {
    margin-top: 60px;
  }

  .title-mineral{
    margin-top: 20px;
   }
}

/* @media(max-width: 1010px){
  .title-mineral{
    margin-top: 0px;
   }

   .conteiner-minerals {
    height: auto;
   }
} */
  